<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ASIANA Duty Free Shop</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/sld.ico}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body>

    <!-- Header-->
    <header class="bg-dark py-5" style="background-image: url('/img/banner.png');">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">ASIANA Duty Free Shop</h1>
            </div>
        </div>
    </header>

    <body>
        <div class="container bootstrap snippets bootdey">
            <div class="text-center">
                <div class="text-center">
                    <div class="text-center">
                        <div class="text-center">
                            <img class="img-error" src="https://bootdey.com/img/Content/fdfadfadsfadoh.png">
                            <h2>404 Not Found</h2>
                            <p>죄송합니다. 해당 페이지를 찾을 수 없습니다.</p>
                            <div class="error-actions">
                                <a href="http://localhost:8080/ShopMiniMall/main" class="btn btn-outline-dark">
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                    메인화면
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>



    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script th:src="@{/js/scripts.js}"></script>
</body>

</html>