<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>항공편 검색</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
</head>
<script>
	$(document).ready() {
		window.onload = function(){
			  window.open("popup.html", "", "width=300, height=300");
		}
	}
</script>
<body>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
	       	<form th:action="@{/ShopMiniMall/flight}" method="post">
	       		도착지 : <input type="text" name="arrival">
	       		출발지 : <input type="text" name="departure">
	       		탑승일 : <input type="date" name="boardingDate">
				<input type="submit" value="검색">
	       	</form>
        	<table border = "1">
	            <tr th:each="flight : ${flightList}">
	            	<td th:text="${flight.flightId}"></td>
	            	<td th:text="${flight.arrival}"></td>
	            	<td th:text="${flight.departure}"></td>
	            	<td th:text="${flight.boardingDate}"></td>
	             </tr>
			</table>
        </div>
    </section>
</body>

</html>