<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asiana.mall.repository.FlightMapper">
    <select id="searchFlight" resultType="Flight" parameterType="Flight">
    	select *
    	from flights
    	where arrival like CONCAT('%', #{arrival}, '%') and departure like CONCAT('%', #{departure}, '%') and boardingDate = #{boardingDate}
    </select>
</mapper>