<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ASIANA Duty Free Shop</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/sld.ico}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" th:href="@{/ShopMiniMall/main}">ASIANA Duty Free Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link active"
                            aria-current="page" th:text="|${#authentication.name}님 환영합니다!|"></a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link active"
                            aria-current="page" th:href="@{/ShopMiniMall/member}">로그인</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <form role="form" th:action="@{/logout}" method="post">
                            <button class="btn btn-outline-dark" type="submit">
                                로그아웃
                            </button>
                        </form>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <form sec:authorize="isAuthenticated()" th:action="@{/ShopMiniMall/mypage}" method="get" class="d-flex">
                            <button class="btn btn-outline-dark" type="submit">
                                마이페이지
                            </button>
                        </form>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link"
                            th:href="@{/ShopMiniMall/MemberUIServlet}">회원가입</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">카테고리</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item"
                                    th:onclick="|location.href='@{/ShopMiniMall/product/category/TOP/1}'|">TOP</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item"
                                    th:onclick="|location.href='@{/ShopMiniMall/product/category/DRESS/1}'|">DRESS</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item"
                                    th:onclick="|location.href='@{/ShopMiniMall/product/category/OUTER/1}'|">OUTER</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item"
                                    th:onclick="|location.href='@{/ShopMiniMall/product/category/BOTTOM/1}'|">BOTTOM</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class ="animated-text">
                    <div class="line">USDKRW 1298.16</div>
                    <div class="line">USDJPY 9.62</div>
                    <div class="line">USDCNY 188.16</div>
                    <div class="line">USDEUR 1,376.36</div>
                </div>

                <form sec:authorize="isAuthenticated()" th:action="@{/ShopMiniMall/cart}" method="get" class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5" style="background-image: url('/img/banner.png');">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">ASIANA Duty Free Shop</h1>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div id="resultProduct" th:fragment="resultProduct"
                class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <th:block th:each="product : ${Page.list}">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- page -->
                            <!-- Product image-->

                            <a th:href="@{/ShopMiniMall/product/{number}(number=${product.number})}"><img
                                    class="card-img-top" th:src="|/img/${product.number}.jpg|" alt="..." /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" th:text="|${product.brand} ${product.name}|"></h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <div th:text="|${product.price}원|"></div>
                                </div>
                            </div>

                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <form role="form" sec:authorize="isAuthenticated()"
                                        th:action="@{/ShopMiniMall/cart}" th:object="${cart}" method="post">
                                        <input type="hidden" th:value="${product.number}" id="productNum"
                                            name="productNum" class="form-control">
                                        <input type="hidden" th:value=1 id="amount" name="amount" class="form-control">
                                        <button class="btn btn-outline-dark mt-auto" type="submit">
                                            <i class="bi-cart-fill me-1"></i>
                                            Add to cart
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>

        <div class="text-center">

            <th:block
                th:with="perPage=${Page.perPage}, totalPage=${Page.totalPage}, curPage=${Page.curPage}, category=${Page.list.get(0).category}">
                <th:block th:each="i : ${#numbers.sequence(1, totalPage)}">
                    <button style="background-color : #6E6E6E" class="btn btn-outline-dark mt-auto" th:if="${i==curPage}">[[${i}]]</button>
                    <button class="btn btn-outline-dark mt-auto"
                        th:onclick="|location.href='@{/ShopMiniMall/product/category/{category}/{curPage}(category=${category}, curPage=${i})}'|"
                        th:if="${i!=curPage}">[[${i}]]</button>
                </th:block>
            </th:block>

        </div>

    </section>


    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script th:src="@{/js/scripts.js}"></script>
</body>

</html>