<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASIANA Duty Free Shop</title>
</head>

<body>
    <th:block th:if="${#strings.length(data.message) != 0}">
        <script>
            top.alert("[[${data.message}]]");
        </script>
    </th:block>
    <th:block th:if="${#strings.length(data.href) != 0}">
        <script>
            top.location.href = '[[${data.href}]]';
        </script>
    </th:block>
</body>

</html>